--
-- PostgreSQL database dump
--

\restrict HF19w5vlVcsvaxQ1snb49Spgyin1Ry0tQaq6J6T1ndDBarLXsuKzVi9PXtukqf1

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: eam_user
--

CREATE TYPE public.users_role_enum AS ENUM (
    'admin',
    'store-manager',
    'cashier',
    'accountant',
    'viewer'
);


ALTER TYPE public.users_role_enum OWNER TO eam_user;

--
-- Name: f_unaccent(text); Type: FUNCTION; Schema: public; Owner: eam_user
--

CREATE FUNCTION public.f_unaccent(text) RETURNS text
    LANGUAGE sql IMMUTABLE STRICT PARALLEL SAFE
    AS $_$ SELECT public.unaccent('public.unaccent', $1) $_$;


ALTER FUNCTION public.f_unaccent(text) OWNER TO eam_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: eam_user
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO eam_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: eam_user
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO eam_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eam_user
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: eam_user
--

CREATE TABLE public.products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    sku character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    price_vnd integer NOT NULL,
    tax_rate_percent smallint NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    store_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT chk_products_price_vnd CHECK ((price_vnd >= 0)),
    CONSTRAINT chk_products_tax_rate CHECK ((tax_rate_percent = ANY (ARRAY[0, 5, 8, 10])))
);


ALTER TABLE public.products OWNER TO eam_user;

--
-- Name: stores; Type: TABLE; Schema: public; Owner: eam_user
--

CREATE TABLE public.stores (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    tax_code character varying(20) NOT NULL,
    address text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.stores OWNER TO eam_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: eam_user
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(50) NOT NULL,
    role public.users_role_enum DEFAULT 'viewer'::public.users_role_enum NOT NULL,
    store_id uuid,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO eam_user;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: eam_user
--

COPY public.migrations (id, "timestamp", name) FROM stdin;
5	1713830400000	CreateStoreTable1713830400000
6	1713830410000	CreateUserTable1713830410000
7	1713830420000	CreateProductTable1713830420000
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: eam_user
--

COPY public.products (id, sku, name, price_vnd, tax_rate_percent, is_active, store_id, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: eam_user
--

COPY public.stores (id, name, tax_code, address, is_active, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: eam_user
--

COPY public.users (id, email, password_hash, name, role, store_id, is_active, created_at, updated_at, deleted_at) FROM stdin;
ffa0c4a5-7a9d-4f8d-b6a3-bace61d44104	admin@eam.local	$2a$12$QjgBdh4X2lUb27wUHNhT..P9suPOvhW2SQXy2Ji8M64LIxt9aQzNW	System Admin	admin	\N	t	2026-04-12 12:04:41.551798+00	2026-04-12 12:04:41.551798+00	\N
\.


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eam_user
--

SELECT pg_catalog.setval('public.migrations_id_seq', 7, true);


--
-- Name: products PK_0806c755e0aca124e67c0cf6d7d; Type: CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "PK_0806c755e0aca124e67c0cf6d7d" PRIMARY KEY (id);


--
-- Name: stores PK_7aa6e7d71fa7acdd7ca43d7c9cb; Type: CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT "PK_7aa6e7d71fa7acdd7ca43d7c9cb" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: stores UQ_bc44eb3e74718b421698a2ecfa7; Type: CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT "UQ_bc44eb3e74718b421698a2ecfa7" UNIQUE (tax_code);


--
-- Name: IDX_products_sku_store; Type: INDEX; Schema: public; Owner: eam_user
--

CREATE UNIQUE INDEX "IDX_products_sku_store" ON public.products USING btree (sku, store_id);


--
-- Name: idx_products_name_unaccent; Type: INDEX; Schema: public; Owner: eam_user
--

CREATE INDEX idx_products_name_unaccent ON public.products USING gin (public.f_unaccent((name)::text) public.gin_trgm_ops);


--
-- Name: users FK_98a52595c9031d60f5c8d280ca4; Type: FK CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_98a52595c9031d60f5c8d280ca4" FOREIGN KEY (store_id) REFERENCES public.stores(id) ON DELETE SET NULL;


--
-- Name: products FK_products_store; Type: FK CONSTRAINT; Schema: public; Owner: eam_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_products_store" FOREIGN KEY (store_id) REFERENCES public.stores(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict HF19w5vlVcsvaxQ1snb49Spgyin1Ry0tQaq6J6T1ndDBarLXsuKzVi9PXtukqf1

